<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="bootstrap.php" processIsolation="1">
    <testsuite name="Nut">
        <directory suffix="Test.php">./</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
</phpunit>
